 body {
     background: #efefef;
 }

 .form {
     width: 500px;
     margin: 0 auto;


     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
     transition: 0.3s;
     border-radius: 5px;
     background: #fff;
     padding: 10px;

     font-family: sans-serif;
 }

 .card:hover {
     box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
 }

 input[type="text"] {

     border: 1px #ccc solid;
     color: #444;
     display: block;
     outline: #007fff;
     padding: 2%;
     width: 96%;

 }
 select {

     border: 1px #ccc solid;
     color: #444;
     display: block;
     outline: #007fff;
     padding: 2%;
     width: 100%;

 }


 input[type="submit"] {
     background: #008100;
     border: none;
     color: #fff;
     display: block;
     outline: none;
     margin-top: 20px;
     margin-left: auto;
     padding: 10px;
     cursor: pointer;

     &:hover {
         background: #005d00;
     }
 }

.h1 {
    color: #444;
    font-size: 22px;
}
p {
    color: #ccc;

    font-size: 11px;
}
