<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Результат опроса</title>

    <link rel="stylesheet" href="/static/game.css">

</head>
<body>

    <body>
        <form method="post" action="/exit" class="form">



            <h1>Результат опроса</h1>


            {% for item in options %}
                <div>{{ item[2] }} - {{ item[3] }}</div>
            {% endfor %}
            <br><br>

            <input type="submit" value="Выйти">
        </form>
    </body>


</body>

</html>
