<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Вопрос - Опрос</title>

    <link rel="stylesheet" href="/static/game.css">


    <style>


    </style>

</head>

<body>

    <body>
        <form method="post" action="/form_action" class="form">


            <p>id вопроса - {{ id_q }}</p>
            <p>Тип вопроса - {{ type }}</p>


            <h1>Вопрос - {{ text }}</h1>

            <br>

            <input type="hidden" name="q_id" value="{{ id_q }}">

            {% if type == "text" %}
            {% for item in options %}
            <input type="text" id="{{ item[2] }}" name="answer" value="{{ item[2] }}"><br>
            {% endfor %}
            {% endif %}




            {% if type == "radio" %}
            {% for item in options %}

            <input type="radio" id="{{ item[2] }}" name="answer" value="{{ item[2] }}">
            <label for="{{ item[2] }}">{{ item[2] }}</label><br>

            {% endfor %}
            {% endif %}


            {% if type == "box" %}
            {% for item in options %}

            <input type="checkbox" name="answer" id="{{ item[2] }}" value="{{ item[2] }}"><label for="{{ item[2] }}">{{ item[2] }}</label><Br>

            {% endfor %}
            {% endif %}

            {% if type == "select" %}
            <select name="answer">
                {% for item in options %}

                <option>{{ item[2] }}</option>

                {% endfor %}
            </select>
            {% endif %}


            <input type="submit">
        </form>

        <script type="text/javascript">

        </script>

    </body>


</body>

</html>
